h1{
    font-weight: 700;
    font-size: 40px;
    margin: 10px;
    margin-bottom: 25px ;
}

input{
    width: 100%;
}

.items-container{
text-align: left;
}

.apni_row {
    margin: 10px 5px;

}

.apna_btn{
    min-width: 80px;
}